.navigation {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
  height: 100%;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  color: rgb(51, 52, 63);
  font-family: "lato", sans-serif;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  white-space: nowrap;
}

.nav-link:hover {
  color: #007bff;
}
